*{
  background-color: black;
  color: whitesmoke;
  font-family: sans-serif, 'inter';
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  display: flex;
}

.logo-repo{
  font-family: 'Courier New', Courier, monospace;
  padding: 32px 16px;
}

.style-side-bar{
  padding: 16px ;
  width: 250px;
  border-right: 1px solid rgb(48, 48, 48);
  display: flex;
  flex-direction: column;
  align-items: left;
}


.style-side-bar a{
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  list-style-type: none
}

.style-side-bar li{
  list-style-type: none;
}


.side--bar-list-items{
  padding: 16px 16px;
}

.side--bar-list-items:hover{
  background-color: rgb(19, 18, 18);
  border-radius: 8px;
}



/* Profile Page */
.profile-container{
  padding: 64px;
}

.profile-header-section{
  display: flex;
}

.img-container-profile{
  margin: 64px;
  padding: 24px;
  width: 150px;
  height: 150px;
  background-color: antiquewhite;
  border-radius: 50%;
}

.name-change h2{
  font-size: 20px;
  font-weight: 400;
}

.wrap-profile-edit{
  display: flex;
  gap: 16px;
}

.btn-profile{
  padding: 8px;
  background-color: blanchedalmond;
}