* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #ff6f47;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/


/* // */

body {
    background-color: rgb(252, 167, 56);
}

.body {
    display: flex;
}

.App {
    margin: auto;
    margin-top: 30px;
    align-items: flex-start;
    color: white;
    background-color: rgb(255, 145, 0);
    min-width: 600px;
    padding: 20px;
}

.check {
    background-color: rgb(59, 204, 59);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.trash {
    background-color: red;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.task-to-do {
    color: black;
    background-color: white;
    flex-grow: 1;
    margin-bottom: 8px;
    height: 30px;
}

.task-body {
    display: flex;
}

.tasks-list {
    list-style-type: none;
}

.form-input {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    height: 35px;
}


.form-input > input {
    width: 350px;
    height: 35px;
    outline: 0;
    border: 0px;
}


.form-input > .select {
    margin-left: auto;
}

.select {
    position: relative;
}

header {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2rem;
}

select {
    outline: 0px;
    box-shadow: none;
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 120px;
    height: 20px;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background-color: red;
    right: 0;
    bottom: 0;
    pointer-events: none;
    cursor: pointer;
    height: 20px;
}

.add-to-list {
    width: 30px;
    height: 100%;
    background-color: rgb(240, 240, 239);
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-list:hover {
    background-color: red;

}

.add-to-list > i {
    background-color: red;
    padding: 2px;
}

.line-throught {
    text-decoration: line-through;
    opacity: 0.8;
}