.container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    
}

.shift{
    margin: 0 102px;

}

.light{
    padding: 8px 16px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}


.toggle-container{
    width: 60%;
    height: 64px;
    background-color: beige;
}

.box-container{
    width: 40%;
    height: 64px;
    background-color: rgb(64, 64, 64);
}

button{
    padding: 4px 16px;
}

.lumps{
    display: flex;
    gap: 4px;
}